body {
  max-width: 320px;
  margin: auto;
  background-image: url(../img/background.png);
}

html {
  background-color: white;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #13727a;
  margin-bottom: 20px;
  padding: 0 20px;
  position: sticky;
  top: 0;
  color: white;
}

img {
  display: block;
  max-width: 100%;
}

h1 {
  font-family: 'Bebas Neue', cursive;
  margin-left: 10px;
}

.profile-picture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}


.chatbox-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.message-box {
  margin: 0 20px 20px 20px;
  max-width: 75%;
}

.message-content {
  margin: 0 0 0 0;
  padding: 5px 5px;
  font-family: monospace;
}

.message-box-ingenieur {
  background-color: #104D56;
  padding: 5px;
  color: white;
  margin-bottom: 20px;
  border-radius: 5px 5px 5px 0;
  outline: 1px white solid;
  outline-offset: 2px;
  flex-grow: 1;
  align-self: flex-start;
}

.message-box-hero {
  background-color: #048B9A;
  padding: 5px;
  color: white;
  margin-bottom: 20px;
  border-radius: 5px 5px 0 5px;
  outline: 1px white solid;
  outline-offset: 2px;
  flex-grow: 1;
  align-self: flex-end;
}

.hours { 
  text-align: center;
  margin-bottom: 20px;
  font-family: monospace;
  color: white;
}

footer {
  background-color: #005c96;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  position: sticky;
  bottom: 0;
}