body {
  max-width: 320px;
  margin: auto;
  background: #014D56;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  display: flex;
  flex-direction: row;
}

.chat-ingenieur {
  background-color: #13727a;
  padding: 10px;
  color: white;
  margin-bottom: 10px;
  border-radius: 5px 5px 5px 0;
  outline: 1px white solid;
  outline-offset: 2px;
  flex-grow: 1;
}

